.basic {
  padding: 5px;
  margin: 10px;
  background-color: beige;
}

h1:first-letter{
  font-weight: bold;
  font-size: 24;
  color: lightblue;
}

.header_basic{
  font-family: "Lucida Handwriting", cursive;
  color: lightskyblue;
}

h1{
  font-size: 32px;
  text-shadow: 2px 2px #7a94a4;
}


h2{
  font-size: 28px;
  margin: 10px
}


h3{
  font-size: 26px;
  margin: 15px;
}

h4{
  font-size: 24px;
  margin: 20px;
}

p{
  margin: 15px;
  font-size: 16px;
  color:cadetblue;
}

.link_basic{
  font-size: 14px;
  line-height: 5;
}

.highlight{
  background-color: yellow;
}

ul{
  font-size: 16px;
  color:cadetblue;
}
details{
  font-size: 14px;
  color:cadetblue;
}

.smaller{
  font-size: 12px;
  color:cadetblue;
}

hr {
  color: #6baeb0;
}

li{
  padding: 5px;
  margin: 15px;
}