:root {
  --brand_front: cadetblue;
  --form_color: rgb(88, 153, 156);
  --def_border_rad: 15px;
  --def_h_font_family: "Lucida Handwriting", cursive;
  --margin_m: 15px;
  --padding_margin_s: 5px;
  --padding_margin_xs: 2px;
  --def_background: transparent;
  --fontsize_m: 16px;
  --fontsize_s: 12px;
}

.set_padding_margin_sargin{
  padding: var(--padding_margin_s);
  margin: 10px;
}

h1:first-letter{
  font-weight: bold;
  font-size: 48px;
  color: #7ab4d8;
}

.set_head{
  font-family: var(--def_h_font_family);
  color: lightskyblue;
}

h1{
  text-shadow: 2px 2px #7a94a4;
  animation: h1_anim 1s ease-in-out 2 forwards;
}

h2{
  font-size: 18px;
  margin: 10px;
  transition: font-size 1s ease-in-out;
}

h2:hover{
  font-size: 28px;
}

h3{
  font-size: 26px;
  margin: var(--margin_m);
}

h4{
  font-size: 24px;
  margin: 20px;
}

p{
  margin: var(--margin_m);
  font-size: var(--fontsize_m);
  color: var(--brand_front);
  transition: font-size 1s;
}

.set_link{
  font-size: 14px;
  line-height: 5;
}

.highlighter{
  background-color: yellow;
}

details{
  font-size: 14px;
  color:var(--brand_front);;
}

details > p{
  font-size: var(--fontsize_s);
  color:var(--brand_front);;
}

ul{
  font-size: var(--fontsize_m);
  color:var(--brand_front);;
  list-style-type: square;
}

li{
  padding: var(--padding_margin_s);
  margin: var(--margin_m);
}

details > ul {
  font-size: var(--fontsize_s);
  font-style: italic;
}

details > li {
  padding: 1px;
  margin: 20px;
}

img{
  margin: var(--margin_m);
  width: 150px;
  float: left;
  transition: width 1s ease-in-out;
}

img:hover{
  width: 250px;
}

.image_right_side{
  float: right;
}

.set_background{
  background-image: url("bracsa_hatter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.viola_violin_different{
  width: 100px;
}

.set_footer_header{
  backdrop-filter: invert(100%);
  border-radius: var(--def_border_rad);;
}

.div_border{
  border-radius: var(--def_border_rad);;
  border: 1px solid aqua;
}

.set_center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.set_center div
{
  width: 700px;
  padding: var(--padding_margin_s);
  margin: var(--padding_margin_s);
}

select{
  appearance: none;
}

label{
  margin: 10px;
  font-size: var(--fontsize_m);
  color: var(--form_color);
}

input{
  font-size: var(--fontsize_m);
  color: var(--form_color);
  background: var(--def_background);
}

.label_message{
  display: block;
  color: var(--form_color);
}

textarea{
  margin: var(--margin_m);
  font-size: var(--fontsize_m);
  color: var(--form_color);
  background: var(--def_background);
  border-radius: var(--def_border_rad);
  padding: var(--padding_margin_s);
}

select{
  font-size: var(--fontsize_m);
  color: var(--form_color);
  background: var(--def_background);
  border-radius: var(--def_border_rad);

}

button{
  border-radius: var(--def_border_rad);
  text-align: center;
  background: var(--def_background);
  font-size: 18px;
  cursor: pointer;
  padding: 14px 20px;
  color: #4187b3;
}

.label_tolsa{
  width: 20em; 
  display: inline-block;
}

hr {
  color: #7ab4d8;
}

.hidden{ont-size: 16px;
  display: none;
}

a:visited{
  color: rgb(55, 151, 83);
}

a:hover{
  color: rgb(110, 110, 67);
}

a:link{
  color: rgb(5, 116, 38);
}

.set_menu{
  display: block;
  background: var(--def_background);
  padding: var(--padding_margin_s);
  text-decoration: none;
  font-family: var(--def_h_font_family);
  position: fixed;
  top: 20px;
  font-size: var(--fontsize_m);
  width: 200px;
  color: rgb(130, 208, 212);
  transition: font-size 1s;
}

.set_menu li{
  display: block;
  color: rgb(130, 208, 212);
}

nav > ul {
  padding: var(--padding_margin_xs);
}

nav > ul > li {
  padding: var(--padding_margin_xs);
}


nav > ul > li > ul > li{
  font-size: 14px;
  padding: 1px;
}

.set_flex{
  display: flex;
  margin-left: auto;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
}

.set_others{
  margin: 0 auto;
  text-align: justify;
  width: 1500px;
  padding: var(--padding_margin_s);
}

.set_left
{
  width: 50%;
}

.set_right
{
  width: 50%;
  margin-left: auto;
}

@media screen and (max-width: 1600px){
  .hide{
    display: none;
  }
  .re_size{
    margin: var(--padding_margin_s);
    text-align: left;
    width: auto;
    padding: var(--padding_margin_s);
  }
}

@media screen and (min-width: 500px) and (max-width: 1599px){
  .hide{
    display: none;
  }
  .re_size{
    margin: var(--padding_margin_s);
    text-align: left;
    width: auto;
    padding: var(--padding_margin_s);
    font-size: 10px;
  }

  .set_div{
    margin: 0 auto;
    text-align: justify;
    width: 1000px;
    padding: var(--padding_margin_s);
  }

  img{
    width: 75px;
  }

  textarea{
    margin: var(--padding_margin_s);
    font-size: 14px;
    padding: var(--padding_margin_s);
    width: 300px;
  }  

  button{
    margin: var(--padding_margin_s);
    font-size: 14px;
    padding: var(--padding_margin_s);
  }
}

@media screen and (min-width: 360px) and (max-width: 500px) {
  .hide{
    display: none;
  }
  .re_size{
    margin: var(--padding_margin_xs);
    text-align: left;
    width: auto;
    padding: var(--padding_margin_xs);
    font-size: var(--fontsize_s);
  }

  p{
    font-size: var(--fontsize_s);    
  }

  h1{
    font-size: 28px;
  }

  h2{
    font-size: 26px;
  }

  h3{
    font-size: 24px;
  }

  h4{
    font-size: 22px;
  }

  img{
    width: 50px;
  }

  li{
    font-size: var(--fontsize_s);  
  }

  textarea{
    margin: var(--padding_margin_xs);
    font-size: var(--fontsize_s);
    padding: var(--padding_margin_xs);
    width: 300px;
  }  

  button{
    margin: var(--padding_margin_xs);
    font-size: var(--fontsize_s);
    padding: var(--padding_margin_xs);
  }
}

@media (prefers-color-scheme: dark) {
  .set_background{
    background-color: black;
    background-image: none;
  }
}

.contents_title{
  font-size: 32px;
}

.contents{
  font-size: 12px;
  font-family: auto;
  transition: font-size 1s ease-in-out;
}

.contents:hover{
  font-size: 14px;
}


li > a:link{
  color: rgb(130, 208, 212);
}


li > a:visited{
  color: rgb(30, 113, 117);
}

li > a:hover{
  color: rgb(170, 210, 212);
}

@keyframes h1_anim{
  0% {font-size: 22px;}
  25% {font-size: 32px;}
  50% {font-size: 42px;}
  100% {font-size: 32px;}
}